In [111]:
import pandas as pd
pd.set_option('display.max_rows', 500) #changing the printing cap

Rejected Loans

In [118]:
df = pd.read_csv('/Users/ewa_anna_szyszka/Desktop/ML-loans/RejectStats_2018Q1.csv')
df.drop(['Policy Code'],axis = 1,inplace = True)
df.head()

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length
0,10000.0,2018-01-01,Other,NaN,100%,814xx,CO,< 1 year
1,35000.0,2018-01-01,Credit card refinancing,NaN,100%,184xx,PA,< 1 year
2,10000.0,2018-01-01,Credit card refinancing,NaN,100%,587xx,ND,< 1 year
3,6000.0,2018-01-01,Credit card refinancing,NaN,100%,685xx,NE,< 1 year
4,6000.0,2018-01-01,Debt consolidation,NaN,100%,333xx,FL,< 1 year

Unique values of the data

In [144]:
emp = df['Employment Length']
zipc = df['Zip Code']
risk = df['Risk_Score']
request = df["Amount Requested"]
date = df["Application Date"]
loan = df["Loan Title"]
debt = df['Debt-To-Income Ratio']

#When printed will give unique values for each column
df.State.unique()
emp.unique()
zipc.unique()
risk.unique()
date.unique()
loan.unique()
debt.unique()

array(['100%', '5.4%', '29.32%', ..., '719.28%', '630.56%', '478.14%'],
      dtype=object)

Selecting variables for the model from the rejected loans dataset

Step 1: Checking the missing values, if printed value != 1875134 it means that values are missing

In [131]:
df.count()

Amount Requested        1875134
Application Date        1875134
Loan Title              1875134
Risk_Score               403720
Debt-To-Income Ratio    1875134
Zip Code                1875134
State                   1875134
Employment Length       1875134
dtype: int64

Step 2: Checking the unique values

In [141]:
emp = df['Employment Length']
zipc = df['Zip Code']
risk = df['Risk_Score']
request = df["Amount Requested"]
date = df["Application Date"]
loan = df["Loan Title"]

df.State.unique()
emp.unique()
zipc.unique()
risk.unique()
date.unique()
loan.unique()

array(['Other', 'Credit card refinancing', 'Debt consolidation',
       'Medical expenses', 'Major purchase', 'Home buying',
       'Moving and relocation', 'Business', 'Vacation', 'Car financing',
       'Home improvement', 'Business Loan', 'Green loan',
       'Learning and training', 'other'], dtype=object)

 

categorical: 

numerical: Amount Requested, 

ordinal: Application Date

    
#feature scaling

['CO' 'PA' 'ND' 'NE' 'FL' 'TN' 'NY' 'NV' 'IL' 'OH' 'MI' 'CA' 'NJ' 'CT'
 'TX' 'KS' 'MO' 'MA' 'NC' 'SC' 'OK' 'IN' 'WI' 'MD' 'VT' 'VA' 'WA' 'WV'
 'GA' 'LA' 'NM' 'MN' 'KY' 'ME' 'AZ' 'AL' 'RI' 'NH' 'OR' 'AR' 'HI' 'SD'
 'MS' 'AK' 'DE' 'UT' 'WY' 'ID' 'MT' 'DC' 'IA'] ['< 1 year' '1 year' '5 years' 'n/a' '6 years' '4 years' '2 years'
 '10+ years' '8 years' '3 years' '9 years' '7 years']

In [115]:
csv2 = df[['Amount Requested']].copy()

In [106]:
df2 = pd.read_csv('/Users/ewa_anna_szyszka/Desktop/ML-loans/LoanStats_2018Q1.csv')

print len(df.columns)
csv3 = df2[['loan_amnt','int_rate','grade']].copy()
df2.head()

8

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,3100.0,3100.0,3100.0,36 months,9.43%,99.21,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,12000.0,12000.0,12000.0,36 months,6.07%,365.45,A,A2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,35000.0,35000.0,35000.0,36 months,12.61%,1172.73,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,6025.0,6025.0,6025.0,36 months,9.43%,192.81,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,10000.0,10000.0,10000.0,36 months,6.71%,307.45,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
#checking the missing values, if the printed number != 107864 it means that values are missing
print df2.count()

id                                                 2
member_id                                          0
loan_amnt                                     107864
funded_amnt                                   107864
funded_amnt_inv                               107864
term                                          107864
int_rate                                      107864
installment                                   107864
grade                                         107864
sub_grade                                     107864
emp_title                                      98251
emp_length                                    107864
home_ownership                                107864
annual_inc                                    107864
verification_status                           107864
issue_d                                       107864
loan_status                                   107864
pymnt_plan                                    107864
url                                                0
desc                                               0
purpose                                       107864
title                                         107864
zip_code                                      107864
addr_state                                    107864
dti                                           107602
delinq_2yrs                                   107864
earliest_cr_line                              107864
inq_last_6mths                                107864
mths_since_last_delinq                         47169
mths_since_last_record                         15269
open_acc                                      107864
pub_rec                                       107864
revol_bal                                     107864
revol_util                                    107715
total_acc                                     107864
initial_list_status                           107864
out_prncp                                     107864
out_prncp_inv                                 107864
total_pymnt                                   107864
total_pymnt_inv                               107864
total_rec_prncp                               107864
total_rec_int                                 107864
total_rec_late_fee                            107864
recoveries                                    107864
collection_recovery_fee                       107864
last_pymnt_d                                  107714
last_pymnt_amnt                               107864
next_pymnt_d                                   98024
last_credit_pull_d                            107863
collections_12_mths_ex_med                    107864
mths_since_last_major_derog                    24761
policy_code                                   107864
application_type                              107864
annual_inc_joint                               16331
dti_joint                                      16331
verification_status_joint                      16017
acc_now_delinq                                107864
tot_coll_amt                                  107864
tot_cur_bal                                   107864
open_acc_6m                                   107864
open_act_il                                   107864
open_il_12m                                   107864
open_il_24m                                   107864
mths_since_rcnt_il                            103576
total_bal_il                                  107864
il_util                                        89880
open_rv_12m                                   107864
open_rv_24m                                   107864
max_bal_bc                                    107864
all_util                                      107836
total_rev_hi_lim                              107864
inq_fi                                        107864
total_cu_tl                                   107864
inq_last_12m                                  107864
acc_open_past_24mths                          107864
avg_cur_bal                                   107854
bc_open_to_buy                                106354
bc_util                                       106303
chargeoff_within_12_mths                      107864
delinq_amnt                                   107864
mo_sin_old_il_acct                            103576
mo_sin_old_rev_tl_op                          107864
mo_sin_rcnt_rev_tl_op                         107864
mo_sin_rcnt_tl                                107864
mort_acc                                      107864
mths_since_recent_bc                          106443
mths_since_recent_bc_dlq                       21298
mths_since_recent_inq                          94216
mths_since_recent_revol_delinq                 30826
num_accts_ever_120_pd                         107864
num_actv_bc_tl                                107864
num_actv_rev_tl                               107864
num_bc_sats                                   107864
num_bc_tl                                     107864
num_il_tl                                     107864
num_op_rev_tl                                 107864
num_rev_accts                                 107864
num_rev_tl_bal_gt_0                           107864
num_sats                                      107864
num_tl_120dpd_2m                              104356
num_tl_30dpd                                  107864
num_tl_90g_dpd_24m                            107864
num_tl_op_past_12m                            107864
pct_tl_nvr_dlq                                107863
percent_bc_gt_75                              106350
pub_rec_bankruptcies                          107864
tax_liens                                     107864
tot_hi_cred_lim                               107864
total_bal_ex_mort                             107864
total_bc_limit                                107864
total_il_high_credit_limit                    107864
revol_bal_joint                                16331
sec_app_earliest_cr_line                       16331
sec_app_inq_last_6mths                         16331
sec_app_mort_acc                               16331
sec_app_open_acc                               16331
sec_app_revol_util                             16021
sec_app_open_act_il                            16331
sec_app_num_rev_accts                          16331
sec_app_chargeoff_within_12_mths               16331
sec_app_collections_12_mths_ex_med             16331
sec_app_mths_since_last_major_derog             5427
hardship_flag                                 107864
hardship_type                                      7
hardship_reason                                    7
hardship_status                                    7
deferral_term                                      7
hardship_amount                                    7
hardship_start_date                                7
hardship_end_date                                  7
payment_plan_start_date                            7
hardship_length                                    7
hardship_dpd                                       7
hardship_loan_status                               7
orig_projected_additional_accrued_interest         7
hardship_payoff_balance_amount                     7
hardship_last_payment_amount                       7
disbursement_method                           107864
debt_settlement_flag                          107864
debt_settlement_flag_date                         32
settlement_status                                 32
settlement_date                                   32
settlement_amount                                 32
settlement_percentage                             32
settlement_term                                   32
dtype: int64

In [98]:
csv2.head()

Amount Requested    1875134
dtype: int64

In [101]:
print csv3.head()
print csv3.count()

   loan_amnt int_rate grade
0     3100.0    9.43%     B
1    12000.0    6.07%     A
2    35000.0   12.61%     C
3     6025.0    9.43%     B
4    10000.0    6.71%     A
loan_amnt    107864
int_rate     107864
grade        107864
dtype: int64